@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Poppins", sans-serif;
    margin: 0px;
    color: white;
    box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

.home-bg {
  background-image: url('./public/assets/home/home-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.work-bg {
  background-image: url('./public/assets/work/work-bg.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 680px) {
  .home-bg, .work-bg {
    background-position: center;
  }
}

@layer utilities {
  .containerXl { max-width: 1396px; }

  .certificate {
    position: absolute;
    top: 320px;
    transition: all ease .7s;
  }
  .scrolled.certificate {
    top: 0px;
    transition: all ease .7s;
  }

  .left {
    transition: all ease-out 1.5s;
    left: -100vw;
  }
  .left.toCenter {
    transition: all ease-out 1.5s;
    left: 0;
  }

  .right {
    transition: all ease-out 1.5s;
    right: -100vw;
  }
  .right.toCenter {
    transition: all ease-out 1.5s;
    right: 0;
  }

  .bottom {
    opacity: 0;
    transition: all ease-out 1.5s;
    bottom: -200px;
  }
  .bottom.toCenter {
    opacity: 1;
    transition: all ease-out 1.5s;
    bottom: 0;
  }

  .navbarItem {
    /* @apply hidden w-full text-sm font-light; */
  }

  @screen mobileSm {
    .navbarItem {
        /* @apply flex items-center justify-center; */
    }
  }
  @screen mobile {
    .navbarItem {
        /* @apply pb-0; */
    }
  }

  @screen tablet {
    .navbarItem {
        /* @apply justify-center py-0; */
    }
  }
  @screen tabletXl {
    .navbarItem {
        /* @apply p-5 text-base text-left; */
    }
  }
  .aboutCard {
    @apply relative flex flex-col justify-end p-2;
  }
  @screen tabletLg {
  .aboutCard {
    @apply h-56;
    }
  }

  .button {
    @apply w-full p-2 text-base font-medium text-center transition-all duration-500 border-2 rounded-full cursor-pointer;
  }

  @screen tablet {
  .button {
    @apply px-4 py-3 text-lg;
    }
  }
  .button.pink {
    @apply bg-pink-600 border-pink-900;
  }
  .button.green {
    @apply bg-green-600 border-green-900;
  }
  .button.yellow {
    @apply bg-yellow-500 border-yellow-600;
  }
  .button.purple {
    @apply bg-custom-purple border-custom-purple-900;
  }
  .button.blue {
    @apply bg-blue-500 border-blue-800;
  }
  .button.red {
    @apply bg-red-600 border-red-800;
  }

  .button:focus {
    @apply outline-none;
  }

  .button.pink:hover {
    @apply bg-pink-700;
  }
  .button.green:hover {
    @apply bg-green-700;
  }
  .button.yellow:hover {
    @apply bg-yellow-600;
  }
  .button.purple:hover {
    @apply bg-custom-purple-900;
  }
  .button.blue:hover {
    @apply bg-blue-700;
  }
  .button.red:hover {
    @apply bg-red-700;
  }

  .cypressTipContainer {
    @apply flex flex-col items-center;
  }
  @screen mobile {
    .cypressTipContainer {
        @apply text-xl;
    }
  }
  @screen tablet {
    .cypressTipContainer {
        @apply static text-3xl;
    }
  }
  @screen mobileLg {
    .cypressTipContainer {
        @apply flex-row;
    }
  }

  .trainingItem {
    @apply relative flex flex-col justify-center h-64 pb-5 mb-5 overflow-hidden border-2 rounded;
  }

  .trainingItem:hover {
    @apply text-gray-900 bg-white;
  }

  @screen tablet {
    .trainingItem {
      @apply h-72;
    }
    .trainingItem:hover {
      @apply mb-0;
    }
  }

  .mobileContainer {
    @apply px-4;
  }

  @screen desktop {
    .mobileContainer {
      @apply px-0;
    }
  }
  .workDetails {
    @apply flex flex-col w-full mx-auto mt-5 justify-evenly text-custom-yellow;
  }
  @screen laptopLg {
    .workDetails {
        @apply items-center w-2/3 text-2xl;
    }
  }
  @screen tablet {
    .workDetails {
        @apply flex-row text-xl;
    }
  }

  .toggleLangugage {
    @apply px-2 text-center transition-all duration-500 border cursor-pointer rounded-3xl;
  }

  .toggleLangugage:hover {
    @apply text-green-900 text-opacity-100 bg-green-400;
  }
}
